pipeline/2-upd-in-1-day.json
{
	"name": "2-upd-in-1-day",
	"properties": {
		"description": "most popular directions in 24 hours updated 2 times in 24 hours",
		"activities": [
			{
				"name": "set variables",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('set_actual')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set year",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "year",
								"value": {
									"value": "@formatDateTime(utcnow(), 'yyyy')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set month",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set year",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "month",
								"value": {
									"value": "@formatDateTime(utcnow(), 'MM')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set day",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set month",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "day",
								"value": {
									"value": "@formatDateTime(utcnow(), 'dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set part of day",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set day",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "part_of_day",
								"value": {
									"value": "@string(int(div(int(formatDateTime(utcNow(), 'hh')),\ndiv(24, int(variables('count_of_parts')))\n)))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "copy flights",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set variables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 4,
					"retryIntervalInSeconds": 45,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select distinct\n    f.flight_id, scheduled_departure, scheduled_arrival, f.departure_airport, f.arrival_airport\nfrom bookings.flights f\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "flight_id",
									"type": "Int32"
								},
								"sink": {
									"type": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": "scheduled_departure",
									"type": "DateTime"
								},
								"sink": {
									"type": "DateTime",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": "scheduled_arrival",
									"type": "DateTime"
								},
								"sink": {
									"type": "DateTime",
									"ordinal": 3
								}
							},
							{
								"source": {
									"name": "departure_airport",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"name": "arrival_airport",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 5
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "FlightsTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "raw",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "flights"
						}
					}
				]
			},
			{
				"name": "copy ticket_flights",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set variables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 4,
					"retryIntervalInSeconds": 40,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select\n      tf.ticket_no, tf.flight_id, tf.amount \nfrom bookings.ticket_flights tf\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ticket_no",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": "flight_id",
									"type": "Int32"
								},
								"sink": {
									"type": "Int32",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": "amount",
									"type": "Decimal"
								},
								"sink": {
									"type": "Decimal",
									"ordinal": 3
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "TicketsFlightsTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "raw",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "ticket_flights"
						}
					}
				]
			},
			{
				"name": "copy airports",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set variables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "SELECT \n  airport_code, \n  airport_name,\n  city, \n  longitude AS x, \n  latitude AS y\nFROM bookings.airports\n  "
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "airport_code",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": "airport_name",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": "city",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"name": "x",
									"type": "Double"
								},
								"sink": {
									"type": "Decimal",
									"ordinal": 4
								}
							},
							{
								"source": {
									"name": "y",
									"type": "Double"
								},
								"sink": {
									"type": "Decimal",
									"ordinal": 5
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "AirportsTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "raw",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "airports"
						}
					}
				]
			},
			{
				"name": "CREATE JOIN BY PART OF DAY",
				"type": "DataLakeAnalyticsU-SQL",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scriptPath": "scripts/join_2_in_1_pipeline.usql",
					"scriptLinkedService": {
						"referenceName": "AzureDataLakeStore1",
						"type": "LinkedServiceReference"
					},
					"parameters": {
						"pipelineName": {
							"value": "@variables('pipelineName')",
							"type": "Expression"
						},
						"year": {
							"value": "@variables('year')",
							"type": "Expression"
						},
						"month": {
							"value": "@variables('month')",
							"type": "Expression"
						},
						"day": {
							"value": "@variables('day')",
							"type": "Expression"
						},
						"part_of_day": {
							"value": "@variables('part_of_day')",
							"type": "Expression"
						},
						"count_of_parts": {
							"value": "@variables('count_of_parts')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDataLakeAnalytics1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "copy flights",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy ticket_flights",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy airports",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy bookings",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy tickets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "CLEAR CURRENT PROCESS FROM OLD",
				"type": "DataLakeAnalyticsU-SQL",
				"dependsOn": [
					{
						"activity": "WRITE UPDATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scriptPath": "scripts/2_in_1_clear_from_old.usql",
					"scriptLinkedService": {
						"referenceName": "AzureDataLakeStore1",
						"type": "LinkedServiceReference"
					},
					"parameters": {
						"pipelineName": {
							"value": "@variables('pipelineName')",
							"type": "Expression"
						},
						"year": {
							"value": "@variables('year')",
							"type": "Expression"
						},
						"month": {
							"value": "@variables('month')",
							"type": "Expression"
						},
						"day": {
							"value": "@variables('day')",
							"type": "Expression"
						},
						"part_of_day": {
							"value": "@variables('part_of_day')",
							"type": "Expression"
						},
						"count_of_parts": {
							"value": "@variables('count_of_parts')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDataLakeAnalytics1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "WRITE UPDATE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CREATE JOIN BY PART OF DAY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "process",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "joined_part_flights_tickets_airports_bookings"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "process",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "joined_full_flights_tickets_airports_bookings"
						}
					}
				]
			},
			{
				"name": "COPY CURRENT REPORT TO RECYCLE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CREATE NEW REPORT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "output",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "popular_directions"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SetByYearAndMonthAndDay",
						"type": "DatasetReference",
						"parameters": {
							"stage": "output/recycle",
							"day": {
								"value": "@variables('day')",
								"type": "Expression"
							},
							"month": {
								"value": "@variables('month')",
								"type": "Expression"
							},
							"year": {
								"value": "@variables('year')",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat('popular_directions_report(', \nstring(int(variables('part_of_day'))), '/', variables('count_of_parts'), ')')",
								"type": "Expression"
							},
							"pipelineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CREATE NEW REPORT",
				"type": "DataLakeAnalyticsU-SQL",
				"dependsOn": [
					{
						"activity": "COPY CURRENT PROCESS TO RECYCLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scriptPath": "scripts/popular_directions_report.usql",
					"scriptLinkedService": {
						"referenceName": "AzureDataLakeStore1",
						"type": "LinkedServiceReference"
					},
					"parameters": {
						"pipelineName": {
							"value": "@variables('pipelineName')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDataLakeAnalytics1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy bookings",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set variables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 4,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select\n       b.book_ref, book_date, total_amount\nfrom bookings.bookings b\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "book_ref",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": "book_date",
									"type": "DateTime"
								},
								"sink": {
									"type": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": "total_amount",
									"type": "Decimal"
								},
								"sink": {
									"type": "Decimal",
									"ordinal": 3
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "AnyTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "raw",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "bookings"
						}
					}
				]
			},
			{
				"name": "Copy tickets",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set variables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 10,
					"retryIntervalInSeconds": 55,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select\n    t.ticket_no, t.book_ref, t.passenger_id, t.passenger_name,\n   t.contact_data->>'phone' as phone, t.contact_data->>'email' as email\nfrom bookings.tickets t",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ticket_no",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": "book_ref",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": "passenger_id",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"name": "passenger_name",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"name": "phone",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"name": "email",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 6
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "AnyTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "raw",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "tickets"
						}
					}
				]
			},
			{
				"name": "COPY CURRENT PROCESS TO RECYCLE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CLEAR CURRENT PROCESS FROM OLD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "process",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "joined_full_flights_tickets_airports_bookings"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SetByYearAndMonthAndDay",
						"type": "DatasetReference",
						"parameters": {
							"stage": "process/ recycle",
							"day": {
								"value": "@variables('day')",
								"type": "Expression"
							},
							"month": {
								"value": "@variables('month')",
								"type": "Expression"
							},
							"year": {
								"value": "@variables('year')",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat('join_flights_tickets_airports_(', \nstring(int(variables('part_of_day'))), ' \\/', variables('count_of_parts'), ')')",
								"type": "Expression"
							},
							"pipelineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CREATE NEW REPORT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzurePostgreSQLSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SetByPipelineNameAndStage",
						"type": "DatasetReference",
						"parameters": {
							"stage": "output",
							"pipeiineName": {
								"value": "@variables('pipelineName')",
								"type": "Expression"
							},
							"fileName": "popular_directions"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "GOSHA_POP_DIR",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"year": {
				"type": "String",
				"defaultValue": "2020"
			},
			"month": {
				"type": "String",
				"defaultValue": "01"
			},
			"day": {
				"type": "String",
				"defaultValue": "01"
			},
			"part_of_day": {
				"type": "String",
				"defaultValue": "1"
			},
			"count_of_parts": {
				"type": "String",
				"defaultValue": "2"
			},
			"set_actual": {
				"type": "Boolean"
			},
			"pipelineName": {
				"type": "String",
				"defaultValue": "popular_directions"
			}
		},
		"annotations": []
	}
}